name: Run MLflow Project

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Ambil kode dari repository
    - uses: actions/checkout@v3

    # 2. Siapkan Python
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # 3. Install Library
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow pandas scikit-learn

    # 4. Jalankan Model (Masuk ke folder MLProject dulu)
    - name: Run Model Training
      run: |
        cd MLProject
        python modelling.py